body {
    background-color:black;
    color: rgb(165, 255, 30);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr 2fr 2fr 1fr 4fr;
    grid-template-areas:
        "first first first first first first"
        "second second second second second second"
        "third third third third third third"
        "fourth_one fourth_one fourth_one fourth_two fourth_two fourth_two"
        "fifth_one fifth_one fifth_one fifth_two fifth_two fifth_two"
        "sixth_one sixth_one sixth_one sixth_two sixth_two sixth_two"
        "seventh seventh seventh seventh seventh seventh";
}

.first {
    grid-area: first;
    border: 1px solid #000000;
    background-color: yellowgreen;
    padding: 75px;
    color: white;
}

.second {
    grid-area: second;
    border: 1px solid #000000;
    background-color: white;
    padding: 30px;
    color: yellowgreen;
}

.third {
    grid-area: third;
    border: 1px solid #000000;
    background-color: white;
    padding: 30px;
    color: yellowgreen;
}

.fourth_one {
    grid-area: fourth_one;
    border: 1px solid #000000;
    background-color: yellowgreen;
    padding: 40px;
    color: white;
}

.fourth_two {
    grid-area: fourth_two;
    border: 1px solid #000000;
    background-color: white;
    padding: 40px;
    color: yellowgreen;
}

.fifth_one {
    grid-area: fifth_one;
    border: 1px solid #000000;
    background-color: yellowgreen;
    padding: 40px;
    color: white;
}

.fifth_two {
    grid-area: fifth_two;
    border: 1px solid #000000;
    background-color: white;
    padding: 40px;
    color: yellowgreen;
}

.sixth_one {
    grid-area: sixth_one;
    border: 1px solid #000000;
    background-color: yellowgreen;
    padding: 40px;
    color: white;
}

.sixth_two {
    grid-area: sixth_two;
    border: 1px solid #000000;
    background-color: white;
    padding: 40px;
    color: yellowgreen;
}

.seventh {
    grid-area: seventh;
    border: 1px solid #000000;
    background-color: white;
    padding: 30px;
    color: yellowgreen;
}

body {
    Background: url("")
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    color:rgb(165, 255, 30)
}
