body {
    background-color:black;
    color: rgb(165, 255, 30);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr 2fr 2fr 1fr 4fr;
    grid-template-areas:
        "first first first first first first"
        "second_one second_one second_one second_two second_two second_two"
        "third_one third_one third_one third_two third_two third_two"
        "fourth_one fourth_one fourth_two fourth_two fourth_three fourth_three";
        grid-gap: 2px;
}

.first {
    grid-area: first;
    border: 1px solid #000000;
    background-color: #2D2E2E;
    padding: 75px;
    color: white;
}

.second_one {
    grid-area: second_one;
    border: 1px solid #000000;
    background-color: #716969;
    padding: 40px; 
    color: white;
}

.second_two {
    grid-area: second_two;
    border: 1px solid #000000;
    background-color: #716969;
    padding: 40px;
    color: white;
}

.third_one {
    grid-area: third_one;
    border: 1px solid #000000;
    background-color: #2D2E2E;
    padding: 40px;
    color: white;
}

.third_two {
    grid-area: third_two;
    border: 1px solid #000000;
    background-color: #454955;
    padding: 40px;
    color: white;
}

.third_three {
    grid-area: third_three;
    border: 1px solid #000000;
    background-color: #716969;
    padding: 40px;
    color: white;
}

.fourth_one {
    grid-area: fourth_one;
    border: 1px solid #000000;
    background-color: #716969;
    padding: 20px;
    color: white;
}

.fourth_two {
    grid-area: fourth_two;
    border: 1px solid #000000;
    background-color: #716969;
    padding: 20px;
    color: white;
}

.fourth_three {
    grid-area: fourth_three;
    border: 1px solid #000000;
    background-color: #2D2E2E;
    padding: 20px;
    color: white;
}
